<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="trace" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-trace-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="debug" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-debug-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="information" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-information-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="warning" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-warning-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="error" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-error-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="critical" fileName="C:\Users\10132592\Desktop\NTT\eğitim\.NET\Case Study 3\Book-Sale-Web-Application\BookSale.MVC\Logs\nlog-critical-${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="information" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warning" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="critical" />
	</rules>
</nlog>