@model IEnumerable<BookSale.MVC.Models.Dtos.BookDto>
@using BookSale.MVC.ViewComponents

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HERO SECTION-->
<div class="container">
    <!-- TRENDING PRODUCTS-->
    <section class="py-5">
        <header>
            <h2 class="h5 text-uppercase mb-4">TÜM KİTAPLAR</h2>
        </header>
        <div class="row">
        @foreach(var item in Model)
        {
            <!-- PRODUCT-->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="position-relative mb-3">
                            <div class="badge text-white bg-"></div><a class="d-block" href="detail.html"><img class="img-fluid w-100" src="@item.ImageUrl" alt="Kitap Resmi" style="width:150px; height:350px"></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                           
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" asp-action="AddToCart" asp-controller="Cart" asp-route-bookId="@item.Id">Sepete ekle</a></li>
                            
                            </ul>
                        </div>
                    </div>
                    <h6> <a class="reset-anchor" href="detail.html">@item.Name</a></h6>
                    <p class="small text-muted">@item.Price TL</p>
                </div>
            </div>

        }
        </div>

    </section>
</div>
